{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>
        {% block page__title %}
        My Site
        {% endblock page__title %}
    </title>
</head>

<body>
    HEADER HISSE
    {% block body %}

    {% endblock body %}
    FOOTER HISSE
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>